
@media (max-width: 500px) {
	header h1 span { display: none; }
	header nav a { display: block; }
	header nav a:hover { border-bottom: solid 0.2ch transparent; }
}


body {
	font-family: helvetica, arial, sans-serif;
	font-size: 1.25em;
	line-height: 1.5;
}

header {
	font-size: 1.5em;
	text-align: center;
}

header h1 img {
	background: red;
	font-variant: small-caps;
	height: 0.7ch;
	padding: 0.175ch;
	width: 0.7ch;
}

header nav { margin: 1% auto; }

header a { margin: 1%; }

a {
	text-decoration: none;
	border-bottom: solid 0.2ch transparent;
	padding-bottom: 0.2ch;
}

a:hover {
	border-bottom: solid 0.2ch;
}

main {
	margin: 7.5vh auto;
	max-width: 60ch;
}

main h1 {
	border: solid 0.25ch;
	display: block;
	padding: 0.5ch 1ch;
}

main ul {
	list-style-type: none;
	margin: 0;
}

main ul li { margin: 0 5ch 0 0; }

main ul li span:last-child  { float: right; }

article { margin: 5vh auto 15vh auto; }

article address:before { content: "By"; }

article address {
	border-bottom: solid .5ch black;
	font-style: normal;
	padding-bottom: 2ch;
}

article address a { color: black; }

article p:last-child:after { content: "∎"; }

code {
	background: #e5e5e5;
	border-radius: 15px;
	padding: 1.5% 4%;
}

em {
	font-style: normal;
	background: #fff568;
	padding: 0.5%;
}

blockquote, q { quotes: "“" "”" "‘" "’"; }

blockquote:before, q:before { content: open-quote; }

blockquote:after, q:after { content: close-quote; }

footer {
	margin: 10% 0 3% 0;
	text-align: center;
}

footer a {
	color: black;
	margin: 1%;
}
