a {
	border-bottom: solid 0.2ch transparent;
	text-decoration: none;
}

a:hover { border-bottom: solid 0.2ch; }

article { margin: 5% auto 10% auto; }

article address:before { content: "By"; }

article address {
	border-bottom: solid .5ch black;
	font-style: normal;
	padding-bottom: 2ch;
}

article address a { color: black; }

article p:last-child:after { content: "∎"; }

body {
	font-family: "Source Sans Pro", Helvetica, Arial, sans;
	font-size: 1em;
	margin: auto;
	max-width: 65ch;
}

code {
	background: #e5e5e5;
	border-radius: 15px;
	padding: 1.5% 4%;
}

em {
	font-style: normal;
	background: #fff568;
	padding: 0.5%;
}

footer {
	border-top: solid 0.5ch black;
	margin-top: 25vh;
	text-align: center;
}

footer a {
	color: black;
	display: inline-block;
	margin: 2ch;
}

h1, h2, h3, h4 { font-family: "Avenir", Helvetica, Arial, sans; }

header { text-align: center; }

nav {
    position: relative
}

nav a {
	font-family: "Avenir", Helvetica, Arial, sans;
	display: inline-block;
	font-size: 1.5em;
       	margin: 0 3% 3% 3%;
}

header h1 {
	font-family: "Univers Extended", Helvetica, Arial, sans;
	font-size: 3.25em;
	font-variant: small-caps;
}

nav a img {
    background: red;
    position: absolute;
    width: 2em;
    padding: 0.25ch;
    top: 50%;
    transform: translate(0,-50%);
    float: left
}

ul { list-style-type: none; margin: 0; padding: 0; }

ul li { margin: 1ch 5ch; }

ul li span:last-child  { float: right; }

main h1 {
	border: solid 0.25ch;
	display: inline-block;
	padding: 0.5ch 1ch;
}

/* Fonts */

@font-face {
        font-family: "Avenir";
        src: url("/static/fonts/avenir.eot");
        src: url("/static/fonts/avenir.woff") format("woff"),
		url("/static/fonts/avenir.ttf") format("truetype"),
		url("/static/fonts/avenir.svg") format("svg");
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: "Source Sans Pro";
        src: url("/static/fonts/source-sans-pro.eot");
        src: url("/static/fonts/source-sans-pro.woff") format("woff"),
		url("/static/fonts/source-sans-pro.ttf") format("truetype"),
		url("/static/fonts/source-sans-pro.svg") format("svg");
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: "Univers Extended";
        src: url("/static/fonts/univers-extended.eot");
        src: url("/static/fonts/univers-extended.woff") format("woff"),
		url("/static/fonts/univers-extended.ttf") format("truetype"),
		url("/static/fonts/univers-extended.svg") format("svg");
        font-weight: normal;
        font-style: normal;
ear

